<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Odix_ProPlus.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DB_AC_Data2NEWConnectionString" connectionString="XpoProvider=MSSqlServer;Data Source=USER\SQL2014;Initial Catalog=DB_Resturant_FormDesign;Integrated Security=False;User ID=sa;Password=12345" />
        <add name="Odix_ProPlus.My.MySettings.DB_AC_NEWConnectionString"
            connectionString="Data Source=USER\SQL2014;Initial Catalog=aaaaaaa;Integrated Security=False;User ID=sa;Password=12345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
  

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup><userSettings>
        <Odix_ProPlus.My.MySettings>
            <setting name="user" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000001</value>
            </setting>
            <setting name="LOG" serializeAs="String">
                <value>C:\A_Resturant\logo.png</value>
            </setting>
            <setting name="NAME" serializeAs="String">
                <value>شركة فضاء القمة لتقنية المعلومات</value>
            </setting>
            <setting name="PHONE" serializeAs="String">
                <value>+967730182818</value>
            </setting>
            <setting name="MOBILE" serializeAs="String">
                <value>+967730182818</value>
            </setting>
            <setting name="EMAIL" serializeAs="String">
                <value>alsofi.kh@gmail.com</value>
            </setting>
            <setting name="WEB" serializeAs="String">
                <value>odixsoft.com</value>
            </setting>
            <setting name="SERVER" serializeAs="String">
                <value>USER\SQL2014</value>
            </setting>
            <setting name="DATABASE" serializeAs="String">
                <value>DB_AC_NEW</value>
            </setting>
            <setting name="LOGIN" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="PASS" serializeAs="String">
                <value />
            </setting>
            <setting name="count_CATEGORY_POS" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="hight_POS_CATEGORY" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="count_ITEME_POS" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="hight_POS_ITEME" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="name_sa" serializeAs="String">
                <value />
            </setting>
            <setting name="pas_sa" serializeAs="String">
                <value />
            </setting>
            <setting name="server_name" serializeAs="String">
                <value />
            </setting>
            <setting name="serverCn" serializeAs="String">
                <value />
            </setting>
            <setting name="name_user" serializeAs="String">
                <value />
            </setting>
            <setting name="show_iteme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="txt_d" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="kh1ld" serializeAs="String">
                <value>Standard</value>
            </setting>
            <setting name="GroupUser" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000001</value>
            </setting>
            <setting name="PathPrint" serializeAs="String">
                <value>C:\A_Resturant\</value>
            </setting>
            <setting name="Ch_closeafterselectitem" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Cmb_type_printS" serializeAs="String">
                <value>PosRestrant</value>
            </setting>
            <setting name="restrantShow" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="countcellrestarant" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="rest_Chec_print" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rest_Check_priviwe" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rest_Ch_chekenprint" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rest_Ch_printgroupchecken" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rest_Cmb_type_print" serializeAs="String">
                <value />
            </setting>
            <setting name="rest_cmb_nameprinterchecken" serializeAs="String">
                <value />
            </setting>
            <setting name="VersionNumber" serializeAs="String">
                <value>V.10002</value>
            </setting>
            <setting name="Radio_billstop_all" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Lang" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowMeesageAty" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RES_CloseOrder_font" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="RES_CloseOrder_count" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="RES_CloseOrder_Timer" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SkinNam" serializeAs="String">
                <value>Basic</value>
            </setting>
            <setting name="SkinNam1" serializeAs="String">
                <value>Basic</value>
            </setting>
            <setting name="h_POS_ITEME" serializeAs="String">
                <value>190</value>
            </setting>
            <setting name="Width_POS_ITEME" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="end_t" serializeAs="String">
                <value />
            </setting>
        </Odix_ProPlus.My.MySettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
